/*Selectores descendientes*/
.mainTitle {
    font-size: 20px;
    font-weight: bold;
}

#globalNav .mainTitle{
    color: blueviolet;
}    

.contenedor .mainTitle {
    color: red;
}

footer .mainTitle {
    color: green;
}

/*Selectores hijos*/
footer > p {
    background-color: lightpink;
}
/*Quiero cambiar el color del Developer*/

footer > p > span {
    color: white;
    font-weight: bold;
}

/*Selectores de Hermanos generales*/

footer h2 ~ p {
    color: red;
    text-decoration: underline;
}

/*Selectores de Hermanos adyacentes*/
.developer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

footer .developer + p {
    background-color: lightskyblue;
}

form button {
    background-color: blue;
    color: white;
}

/*Selectores de Atributo simple*/
input[type] {
    border-bottom: orangered 2px dotted;
    border-top: 4px solid blue;
    border-left: 6px solid green;
    border-width: 9px solid black;
}

/*Selector de atributo con valor*/
.contenedor input[type="password"]{
    border-left: crimson 2px dashed;
    border-right: rgb(53, 145, 0) 1px dotted;
}
 /*Encalces con domicios .org*/

 a[href$="org"]{
    color: peru;
}

a[href^="Aprendices"]{
    color: greenyellow;
}