.pregunta1 {
    background-color: lightgreen;
}

.pregunta2 {
    background-color: aquamarine;
}

.pregunta3 {
    color: gray;
}

.pregunta4 {
    color: red;
}

.pregunta6 {
    background-color: cornflowerblue;
}

.pregunta7 {
    color: gold;
}

.pregunta8 {
    color: greenyellow;
}